body {
  background-color: slategray;
}

#content-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

h1 {
  margin: 33px;
  border: 3px solid;
  text-shadow: 1px;
  font-size: 37px;
  font-weight: bold;
}

#form {
  width: 100%;
  height: 100%;
  margin: 12px;
}

#name {
  border-radius: 6px;
  font-size: x-large;
  font-weight: bold;
}

#msg {
  margin-top: 10px;
  width: 98%;
  height: 110px;
  border-radius: 6px;
  font-size: x-large;
  font-weight: bold;
}

#button-submit {
  margin: 10px;
  padding: 10px;
  background-color: goldenrod;
}